.login {
  grid-column: 1/-1;
  margin-top: 3rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  @media only screen and (max-width: $bp-small) {
    grid-template-rows: min-content min-content;
  }
  column-gap: 3rem;

  &__header {
    margin-right: 3rem;
    font-size: 2rem;
    grid-column: 1 / span 1;
  }
  &__img {
    @media only screen and (max-width: $bp-small) {
      display: none;
    }
    margin-right: 3rem;
    margin-top: 2rem;
    grid-column: 1 / span 1;
    width: 40rem;
    height: 43rem;
  }
  &__form {
    padding-bottom: 3rem;

    @media only screen and (max-width: $bp-small) {
      grid-column: 1 / span 1;
      margin-right: 3rem;
      padding-top: 3rem;
    }
    grid-column: 2 / span 1;
    align-self: center;

    &--password {
      display: flex;
      align-items: center;
    }

    &--input {
      @media only screen and (max-width: $bp-small) {
        width: 60%;
      }
      width: 60%;
      font-family: inherit;
      font-size: 1.4rem;
      padding: 0.7rem 2rem;
      margin: 1.5rem 0;
      border: none;
      border-bottom: 0.1rem solid $color-gray-dark-3;
      outline: none;
    }

    &--passwordinput {
      margin-left: -2rem;
    }

    &--eyebtn {
      background-color: inherit;
      height: 2rem;

      border: none;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }

    &--line {
      @media only screen and (max-width: $bp-small) {
        display: none;
      }
      margin: 3rem 0 3rem 5rem;
      color: $color-gray-dark-2;
    }

    &--link,
    &--link:link,
    &--link:visited {
      color: $color-secondary;
      font-size: 1.5rem;
      font-weight: 700;
      margin: 3rem 0;
      text-decoration: none;
    }

    &--icon {
      fill: $color-gray-dark-2;
      width: 2rem;
      height: 2rem;
    }
  }
}
