.order-boy-uniform {
  grid-column: 1 / -1;

  &--heading {
    margin: 2rem 3rem;
  }
}

.no-warning {
  display: none;
}

.order-warning {
  font-size: 1.4rem;
  background-color: $color-gray-dark-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;

  &--text {
    grid-column: 1/12;
    text-align: center;
    color: $color-quaternary;
    font-weight: 450;
  }
  &--link,
  &--link:link,
  &--link:visited {
    color: $color-quaternary;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
  }
}

.icon-container {
  grid-column: 12/-1;
  justify-self: end;
  margin-left: 3rem;
}

.order-icon {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
}

.order-label {
  font-size: 1.4rem;
  padding: 1rem 0rem 0rem 1.5rem;
  margin-right: 3rem;
}

.order__select {
  display: block;
  margin: 2rem 0rem;
  &--grade {
    width: 8rem;
    font-family: $font-primary;
  }
  &--school {
    margin-right: 1.59rem;
    width: 20rem;
    font-family: $font-primary;
  }
}

.order__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  column-gap: 12rem;
  justify-content: space-around;

  &--pants {
    display: flex;
    flex-direction: column;
  }
  &--shirt {
    display: flex;
    flex-direction: column;
  }
}

.order__pants {
  margin: 3rem 3rem 3rem 0;
  font-size: 1.6rem;
}
.order__pants--hidden {
  display: none;
}
.order__shirt {
  margin: 15rem 0 25rem 0;
}
.order__shirt--hidden {
  display: none;
}

.order__image--pants {
  align-self: center;
  width: 30rem;
  height: 40rem;
}
.order__image--shirt {
  align-self: center;
  width: 30rem;
  height: 40rem;
}

.order__pants--seperator {
  margin: 2rem 0rem 3rem 3rem;
}
.order__pants--details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  column-gap: 5rem;

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    column-gap: 0rem;
  }
}
.order__pants--data {
  grid-column: 1 / span 1;
}

.order__pants--label {
  margin-left: 3rem;
  font-size: 1.4rem;

  &-1 {
    margin-left: 3.412rem;
    font-size: 1.4rem;
  }
  &-2 {
    margin-left: 3.031rem;
    font-size: 1.4rem;
  }
  &-3 {
    margin-left: 4.112rem;
    font-size: 1.4rem;
  }
  &-4 {
    margin-left: 4.89rem;
    font-size: 1.4rem;
  }
}
.order__pants--input {
  font-size: 1.4rem;
  font-family: $font-primary;
  margin: 1.5rem 0rem;
  padding: 0.5rem 1rem;
  width: 7rem;

  &-small {
    margin: 1.5rem 0rem;

    width: 8rem;
    font-size: 1.4rem;
    font-family: $font-primary;
  }
}

.order__pants--btn {
  grid-column: 1 / span 1;
}

.order__pants--image {
  grid-column: 2 / span 1;
  grid-row: 1 / span 5;
}

.order-count-label {
  font-size: 1.8rem;
  margin: 0 1rem;
}
.btn-count {
  text-align: center;
}
