.order-boy-uniform {
  grid-column: 1 / -1;

  &--heading {
    margin: 2rem 3rem;
  }
}

.no-warning {
  display: none;
}

.order-warning {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  background-color: $color-gray-dark-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;

  &--text {
    grid-column: 1/12;
    text-align: center;
    color: $color-quaternary;
  }
  &--link,
  &--link:link,
  &--link:visited {
    color: $color-quaternary;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
  }
}

.icon-container {
  grid-column: 12/-1;
  justify-self: end;
  margin-left: 3rem;
}

.order-icon {
  cursor: pointer;
  width: 2.3rem;
  height: 2.3rem;
  margin: 1rem 0 0 0;
}
