*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

html {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  font-size: 62.6%;

  @media only screen and (max-width: $bp-larger) {
    font-size: 55%;
  }
  @media only screen and (max-width: $bp-large) {
    font-size: 51%;
  }
  @media only screen and (max-width: $bp-medium) {
    font-size: 45%;
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 37%;
  }
}
