@font-face {
  font-family: iransansdn;
  font-style: normal;
  font-weight: bold;
  src: url(fonts/iransansdnbold.eot);
  src: url(fonts/iransansdnbold.eot?#iefix) format("embedded-opentype"), url(fonts/iransansdnbold.woff2) format("woff2"), url(fonts/iransansdnbold.woff) format("woff"), url(fonts/iransansdnbold.ttf) format("truetype"); }

@font-face {
  font-family: iransansdn;
  font-style: normal;
  font-weight: 300;
  src: url(fonts/iransansdnlight.eot);
  src: url(fonts/iransansdnlight.eot?#iefix) format("embedded-opentype"), url(fonts/iransansdnlight.woff2) format("woff2"), url(fonts/iransansdnlight.woff) format("woff"), url(fonts/iransansdnlight.ttf) format("truetype"); }

@font-face {
  font-family: iransansdn;
  font-style: normal;
  font-weight: normal;
  src: url(fonts/iransansdn.eot);
  src: url(fonts/iransansdn.eot?#iefix) format("embedded-opentype"), url(fonts/iransansdn.woff2) format("woff2"), url(fonts/iransansdn.woff) format("woff"), url(fonts/iransansdn.ttf) format("truetype"); }

body {
  font-family: iransansdn, tahoma;
  font-weight: 300;
  line-height: 1.6;
  direction: rtl; }

.heading-primary {
  margin-right: 3rem;
  font-size: 2rem;
  color: #6d5d4b; }

.heading-secondary {
  margin-right: 3rem;
  font-size: 1.7rem;
  color: #6d5d4b; }

.paragraph-starter {
  margin-top: 3rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
  font-size: 1.4rem;
  color: #ff3e96; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent; }

html {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  font-size: 62.6%; }
  @media only screen and (max-width: 75rem) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 62.5rem) {
    html {
      font-size: 51%; } }
  @media only screen and (max-width: 50rem) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 37.5rem) {
    html {
      font-size: 37%; } }

.container {
  display: grid;
  grid-template-rows: min-content minmax(60vh, max-content);
  grid-template-columns: [sidebar-start] 10rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 37.5rem) {
    .container {
      grid-template-rows: min-content minmax(70vw, max-content); } }

.navbar {
  grid-column: 1/-1;
  background-color: #422671;
  min-height: 7rem; }

.dropdown .dropbtn {
  font-size: 1.4rem;
  border: none;
  outline: none;
  color: #f9f7f6;
  padding: 1.4rem 1.6rem;
  background-color: inherit;
  font-family: inherit;
  margin: 0; }
  @media only screen and (max-width: 37.5rem) {
    .dropdown .dropbtn {
      padding-right: 0.8rem;
      padding-left: 0.8rem; } }

.dropdown {
  margin-right: -2rem; }
  @media only screen and (max-width: 37.5rem) {
    .dropdown {
      margin-right: -1rem; } }
  .dropdown--link {
    float: none;
    color: #f9f7f6;
    padding: 1.2rem 1.6rem;
    text-decoration: none;
    display: block;
    text-align: center; }
    .dropdown--link:not(:last-child) {
      border-bottom: 0.1rem solid #f9f7f6; }
  .dropdown-content {
    display: none;
    padding-top: 1.2rem;
    position: absolute;
    color: #f9f7f6;
    background-color: #422671;
    min-width: 14rem;
    box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0, 0, 0, 0.2);
    z-index: 1; }

.dropdown:hover .dropdown-content {
  display: block; }

.sitePart {
  display: flex;
  flex: 0 0 70%;
  align-items: center; }
  @media only screen and (max-width: 37.5rem) {
    .sitePart {
      order: 1;
      flex: 0 0 100%; } }

.userPart {
  display: flex;
  flex: 0 0 30%;
  justify-content: flex-end; }
  @media only screen and (max-width: 37.5rem) {
    .userPart {
      padding-top: 3rem;
      flex: 0 0 100%; } }

.nav {
  display: flex;
  list-style: none;
  font-size: 1.4rem; }
  @media only screen and (max-width: 37.5rem) {
    .nav {
      flex-wrap: wrap;
      align-content: space-around; } }
  .nav__user {
    align-self: center;
    padding-left: 3rem;
    padding-right: 2rem; }
    @media only screen and (max-width: 37.5rem) {
      .nav__user {
        padding-left: 2rem; } }
  .nav__item {
    cursor: pointer; }
    .nav__item--link:link, .nav__item--link:visited {
      color: #f9f7f6;
      list-style: none;
      text-decoration: none; }
    .nav__item--icon {
      cursor: pointer;
      fill: #f9f7f6;
      align-self: center;
      height: 2.3rem;
      width: 2.3rem; }
      .nav__item--icon-user {
        margin-right: 5rem; }
    .nav__item--logo {
      height: 6rem;
      align-self: center; }
      @media only screen and (max-width: 37.5rem) {
        .nav__item--logo {
          height: 4rem; } }
  .nav__item:not(:last-child) {
    padding-right: 1.5rem;
    padding-left: 1.5rem; }
    @media only screen and (max-width: 37.5rem) {
      .nav__item:not(:last-child) {
        padding-right: 0.8rem;
        padding-left: 0.8rem; } }
  .nav__item:last-child {
    align-self: center;
    padding-right: 1.5rem;
    padding-left: 5rem; }
    @media only screen and (max-width: 37.5rem) {
      .nav__item:last-child {
        padding-right: 0.8rem;
        padding-left: 2.5rem; } }
  .nav__item:first-child {
    padding-right: 2rem; }
    @media only screen and (max-width: 37.5rem) {
      .nav__item:first-child {
        padding-right: 1rem; } }
  .nav__item:not(:first-child) {
    align-self: center; }

.vl {
  border-left: 0.1rem solid #f9f7f6;
  height: 3.5rem;
  justify-self: center; }

.footer {
  grid-column: 1/-1;
  background-color: #422671;
  display: grid;
  column-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  font-size: 1.3rem;
  color: #f9f7f6;
  padding-right: 2rem;
  padding-left: 2rem; }
  @media only screen and (max-width: 37.5rem) {
    .footer {
      grid-row: 6/7; } }
  .footer__icon {
    fill: #f9f7f6;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 1.5rem;
    margin-left: 2rem; }
  .footer__history {
    margin-top: 3rem;
    align-self: center;
    text-align: right; }
  .footer__copyright {
    margin-top: 3rem;
    align-self: center;
    text-align: right; }
    .footer__copyright--date {
      margin-top: 3rem;
      text-align: center; }
  .footer__info {
    padding-top: 2rem; }
    @media only screen and (max-width: 37.5rem) {
      .footer__info {
        padding-top: 1rem; } }
    .footer__info--tel-link, .footer__info--tel-link:link, .footer__info--tel-link:visited {
      text-decoration: none;
      color: #f9f7f6; }
    .footer__info--address {
      padding-bottom: 3rem; }
    .footer__info--socialmedia {
      text-align: center;
      padding-bottom: 3rem; }

.login {
  grid-column: 1/-1;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  column-gap: 3rem; }
  @media only screen and (max-width: 37.5rem) {
    .login {
      grid-template-rows: min-content min-content; } }
  .login__header {
    margin-right: 3rem;
    font-size: 2rem;
    grid-column: 1 / span 1; }
  .login__img {
    margin-right: 3rem;
    margin-top: 2rem;
    grid-column: 1 / span 1;
    width: 40rem;
    height: 43rem; }
    @media only screen and (max-width: 37.5rem) {
      .login__img {
        display: none; } }
  .login__form {
    padding-bottom: 3rem;
    grid-column: 2 / span 1;
    align-self: center; }
    @media only screen and (max-width: 37.5rem) {
      .login__form {
        grid-column: 1 / span 1;
        margin-right: 3rem;
        padding-top: 3rem; } }
    .login__form--password {
      display: flex;
      align-items: center; }
    .login__form--input {
      width: 60%;
      font-family: inherit;
      font-size: 1.4rem;
      padding: 0.7rem 2rem;
      margin: 1.5rem 0;
      border: none;
      border-bottom: 0.1rem solid #333;
      outline: none; }
      @media only screen and (max-width: 37.5rem) {
        .login__form--input {
          width: 60%; } }
    .login__form--passwordinput {
      margin-left: -2rem; }
    .login__form--eyebtn {
      background-color: inherit;
      height: 2rem;
      border: none;
      cursor: pointer; }
      .login__form--eyebtn:focus {
        outline: none; }
    .login__form--line {
      margin: 3rem 0 3rem 5rem;
      color: #6d5d4b; }
      @media only screen and (max-width: 37.5rem) {
        .login__form--line {
          display: none; } }
    .login__form--link, .login__form--link:link, .login__form--link:visited {
      color: #fec859;
      font-size: 1.5rem;
      font-weight: 700;
      margin: 3rem 0;
      text-decoration: none; }
    .login__form--icon {
      fill: #6d5d4b;
      width: 2rem;
      height: 2rem; }

.home {
  grid-column: 1/ -1; }
  .home__header {
    border: none;
    height: 50rem;
    background-color: #422671;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(55rem, max-content); }
    @media only screen and (max-width: 37.5rem) {
      .home__header {
        height: 35vh; } }
    @media only screen and (max-width: 37.5rem) {
      .home__header {
        grid-template-rows: minmax(40vh, max-content); } }
    .home__header--image {
      grid-column: 2/12;
      background-image: url(img/register.webp);
      background-size: cover;
      background-position: 50%;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      align-items: flex-end; }
    .home__header--text {
      grid-column: 1/6; }
    .home__header--main {
      margin-right: 2rem; }
    .home__header--subtext {
      margin-right: 2rem;
      grid-column: 1/6;
      font-family: iransansdn, tahoma;
      font-size: 1.5rem;
      color: #6d5d4b; }
    .home__header--btn, .home__header--btn:link, .home__header--btn:visited {
      grid-column: 1/6;
      margin-right: 2rem;
      align-self: flex-start;
      text-decoration: none; }
  .home__feature {
    display: grid;
    background-color: #fffafa;
    padding: 2rem 2rem;
    grid-template-columns: min-content;
    column-gap: 1.4rem;
    font-size: 1.4rem;
    align-items: center; }
    .home__feature--number {
      grid-column: 1/2;
      font-weight: 700;
      padding-right: 1.1rem;
      padding-top: 0.3rem;
      width: 3rem;
      height: 3rem;
      shape-outside: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      background-color: #fec859;
      color: #fff; }
    .home__feature--text {
      grid-column: 2/3;
      padding-right: 0.2rem; }
  .home__features {
    padding-top: 3rem;
    background-color: #e3e3e3;
    height: 70rem; }
  .home__customers {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, max-content); }
    .home__customers--text {
      margin-right: 2rem;
      margin-bottom: 1rem; }
    .home__customers--subtext {
      margin-right: 2rem;
      font-family: iransansdn, tahoma;
      font-size: 1.5rem;
      color: #6d5d4b;
      margin-bottom: 2rem; }
    .home__customers--topright {
      grid-row: 1/2;
      grid-column: 2/6;
      align-self: center;
      margin-bottom: 3rem; }
    .home__customers--topleft {
      margin-right: 3rem;
      margin-left: 3rem;
      grid-row: 1/2;
      grid-column: 6/12;
      align-self: center;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
      column-gap: 1rem;
      row-gap: 1rem;
      margin-bottom: 3rem; }
    .home__customers--bottom {
      grid-column: 1/12;
      grid-row: 2/3;
      background-color: #fffafa;
      z-index: 10;
      display: grid;
      grid-template-columns: repeat(11, 1fr);
      align-content: flex-start; }
      .home__customers--bottom-right {
        grid-column: 2/6;
        margin-bottom: 2rem; }
      .home__customers--bottom-text {
        margin-right: 2rem;
        margin-bottom: 1rem; }
      .home__customers--bottom-subtext {
        margin-right: 2rem;
        font-family: iransansdn, tahoma;
        font-size: 1.5rem;
        color: #6d5d4b;
        margin-bottom: 2rem; }
      .home__customers--bottom-btn, .home__customers--bottom-btn:link, .home__customers--bottom-btn:visited {
        margin-right: 2rem;
        text-decoration: none; }
      .home__customers--bottom-image {
        grid-column: 2 / span 3;
        background-color: #6d5d4b;
        margin: 0rem 2rem 3rem 0;
        height: 17rem; }
      .home__customers--bottom-subtextleft {
        grid-column: 6 / 8;
        margin: 0rem 2rem 3rem 0;
        font-family: iransansdn, tahoma;
        font-size: 1.5rem;
        color: #6d5d4b; }
      .home__customers--bottom-imagetopleft {
        grid-column: 6/12;
        grid-row: 1/2;
        margin: 3rem 2rem 3rem 3rem;
        height: 23rem;
        background-color: #6d5d4b; }
      .home__customers--bottom-imagebottomleft {
        grid-column: 8/12;
        grid-row: 2/3;
        margin: 0rem 2rem 3rem 3rem;
        height: 17rem;
        background-color: #6d5d4b; }
  .home__gallery {
    background-color: #422671;
    height: 80rem; }
  .home__story {
    background-color: #fffafa;
    height: 60rem; }
  .home__videos {
    background-color: #422671;
    height: 61.7rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 49rem 45rem 15rem; }
  .home__register {
    grid-column: 2/13;
    grid-row: 2/3;
    background-color: #fffafa;
    height: 45rem;
    z-index: 10; }
  .home__login {
    grid-column: 2/13;
    grid-row: 3/4;
    background-color: #422671;
    height: 15rem;
    z-index: 10; }
  .home__support {
    background-color: #e3e3e3;
    height: 70rem; }

.btn {
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 0.7rem 2rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-family: inherit;
  cursor: pointer;
  width: 10.4rem; }
  .btn-primary {
    background-color: #ff3e96;
    color: #f9f7f6; }
    .btn-primary-medium {
      width: 13rem;
      background-color: #ff3e96;
      color: #f9f7f6; }
    .btn-primary-large {
      width: 17rem;
      background-color: #ff3e96;
      color: #f9f7f6; }
  .btn-secondary {
    background-color: #f9f7f6;
    color: #333; }
    .btn-secondary-medium {
      width: 13rem;
      background-color: #f9f7f6;
      color: #333; }
    .btn-secondary-large {
      width: 17rem;
      background-color: #f9f7f6;
      color: #333; }
  .btn-outline {
    border: 0.1rem solid #333;
    background-color: inherit;
    color: #fec859; }
    .btn-outline-medium {
      width: 13rem;
      border: 0.1rem solid #333;
      background-color: inherit;
      color: #fec859; }
    .btn-outline-large {
      width: 17rem;
      border: 0.1rem solid #333;
      background-color: inherit;
      color: #fec859; }

.error {
  color: #d80101;
  font-size: 1.25rem;
  padding: 0.5rem 0; }

