.container {
  display: grid;

  grid-template-rows: min-content minmax(60vh, max-content);
  grid-template-columns:
    [sidebar-start] 10rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];
  @media only screen and (max-width: $bp-large) {
    // grid-template-rows: min-content minmax(70vh, max-content);
  }
  @media only screen and (max-width: $bp-medium) {
    // grid-template-rows: min-content minmax(90vw, max-content);
  }
  @media only screen and (max-width: $bp-small) {
    grid-template-rows: min-content minmax(70vw, max-content);
  }
}
