// COLOR VARIABLES
$color-primary: #422671;
// $color-primary-dark: #b28451;
// $color-primary-light: #e2a764;

$color-secondary: #fec859;

// $color-tertiary: #7d754a;
// $color-tertiary: #b02068;
// $color-tertiary: #ff3399;
$color-tertiary: #d2287d;
// $color-tertiary-dark: #42b0b4;

$color-quaternary: #d80101;

$color-gray-light: #fffafa;
$color-gray-light-1: #f9f7f6;
$color-gray-light-2: #aaa;

$color-gray-dark-1: #e3e3e3;
$color-gray-dark-2: #6d5d4b;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT VARIABLES
$font-primary: iransansdn, tahoma;
$font-display: iransansdn, tahoma;

$border-radius: 0.5rem;

//Responsive breakpoints
$bp-largest: 100rem; //1600px
$bp-larger: 75rem; // 1200px
$bp-large: 62.5rem; // 1000px
$bp-medium: 50rem; // 800px
$bp-small: 37.5rem; // 600px

//Loader
$count: 10;
$time: 2; //in seconds
$size: 100;
