@font-face {
  font-family: iransansdn;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/eot/iransansdnbold.eot");
  src: url("../fonts/eot/iransansdnbold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/iransansdnbold.woff2") format("woff2"), url("../fonts/woff/iransansdnbold.woff") format("woff"), url("../fonts/ttf/iransansdnbold.ttf") format("truetype");
  font-display: swap; }

@font-face {
  font-family: iransansdn;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/eot/iransansdnlight.eot");
  src: url("../fonts/eot/iransansdnlight.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/iransansdnlight.woff2") format("woff2"), url("../fonts/woff/iransansdnlight.woff") format("woff"), url("../fonts/ttf/iransansdnlight.ttf") format("truetype");
  font-display: swap; }

@font-face {
  font-family: iransansdn;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/iransansdn.eot");
  src: url("../fonts/eot/iransansdn.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/iransansdn.woff2") format("woff2"), url("../fonts/woff/iransansdn.woff") format("woff"), url("../fonts/ttf/iransansdn.ttf") format("truetype");
  font-display: swap; }

body {
  font-family: iransansdn, tahoma;
  font-weight: 300;
  line-height: 1.6;
  direction: rtl; }

.heading-primary {
  margin-right: 3rem;
  font-size: 2rem;
  color: #6d5d4b; }

.heading-secondary {
  margin-right: 3rem;
  font-size: 1.7rem;
  color: #6d5d4b; }

.paragraph-starter {
  margin-top: 3rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #d2287d; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent; }

html {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  font-size: 62.6%; }
  @media only screen and (max-width: 75rem) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 62.5rem) {
    html {
      font-size: 51%; } }
  @media only screen and (max-width: 50rem) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 37.5rem) {
    html {
      font-size: 37%; } }

.container {
  display: grid;
  grid-template-rows: min-content minmax(60vh, max-content);
  grid-template-columns: [sidebar-start] 10rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 37.5rem) {
    .container {
      grid-template-rows: min-content minmax(70vw, max-content); } }

.navbar {
  grid-column: 1/-1;
  background-color: #422671;
  min-height: 7rem; }

.dropdown .dropbtn {
  font-size: 1.4rem;
  border: none;
  outline: none;
  color: #f9f7f6;
  padding: 1.4rem 1.6rem;
  background-color: inherit;
  font-family: inherit;
  margin: 0; }
  @media only screen and (max-width: 37.5rem) {
    .dropdown .dropbtn {
      padding-right: 0.8rem;
      padding-left: 0.8rem; } }

.dropdown {
  margin: 0 -1.2rem; }
  @media only screen and (max-width: 37.5rem) {
    .dropdown {
      margin-right: -1rem; } }
  .dropdown--link {
    float: none;
    color: #f9f7f6;
    padding: 1.2rem 1rem;
    text-decoration: none;
    display: block;
    text-align: center; }
    .dropdown--link:not(:last-child) {
      border-bottom: 0.1rem solid #f9f7f6; }
  .dropdown-content {
    display: none;
    padding-top: 1.2rem;
    position: absolute;
    color: #f9f7f6;
    background-color: #422671;
    min-width: 14rem;
    box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0, 0, 0, 0.2);
    z-index: 1; }

.dropdown:hover .dropdown-content {
  display: block; }

.sitePart {
  display: flex;
  flex: 0 0 70%;
  align-items: center; }
  @media only screen and (max-width: 37.5rem) {
    .sitePart {
      order: 1;
      flex: 0 0 100%; } }

.userPart {
  display: flex;
  flex: 0 0 30%;
  justify-content: flex-end; }
  @media only screen and (max-width: 37.5rem) {
    .userPart {
      padding-top: 3rem;
      flex: 0 0 100%; } }

.nav {
  display: flex;
  list-style: none;
  font-size: 1.4rem; }
  @media only screen and (max-width: 37.5rem) {
    .nav {
      flex-wrap: wrap;
      align-content: space-around; } }
  .nav__user {
    align-self: center;
    padding-left: 3rem;
    padding-right: 2rem; }
    @media only screen and (max-width: 37.5rem) {
      .nav__user {
        padding-left: 2rem; } }
  .nav__item {
    cursor: pointer; }
    .nav__item--link:link, .nav__item--link:visited {
      color: #f9f7f6;
      list-style: none;
      text-decoration: none; }
    .nav__item--icon {
      cursor: pointer;
      fill: #f9f7f6;
      align-self: center;
      height: 2.3rem;
      width: 2.3rem; }
      .nav__item--icon-user {
        margin-right: 5rem; }
    .nav__item--logo {
      height: 6rem;
      width: 6rem;
      align-self: center; }
      @media only screen and (max-width: 37.5rem) {
        .nav__item--logo {
          height: 4rem; } }
  .nav__item:not(:last-child) {
    padding-right: 1.5rem;
    padding-left: 1.5rem; }
    @media only screen and (max-width: 37.5rem) {
      .nav__item:not(:last-child) {
        padding-right: 0.8rem;
        padding-left: 0.8rem; } }
  .nav__item:last-child {
    align-self: center;
    padding-right: 1.5rem;
    padding-left: 5rem; }
    @media only screen and (max-width: 37.5rem) {
      .nav__item:last-child {
        padding-right: 0.8rem;
        padding-left: 2.5rem; } }
  .nav__item:first-child {
    padding-right: 2rem; }
    @media only screen and (max-width: 37.5rem) {
      .nav__item:first-child {
        padding-right: 1rem; } }
  .nav__item:not(:first-child) {
    align-self: center; }

.vl {
  border-left: 0.1rem solid #f9f7f6;
  height: 3.5rem;
  justify-self: center; }

.footer {
  grid-column: 1/-1;
  background-color: #422671;
  display: grid;
  column-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  font-size: 1.3rem;
  color: #f9f7f6;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 4.5rem; }
  @media only screen and (max-width: 37.5rem) {
    .footer {
      grid-row: 6/7; } }
  .footer__icon {
    fill: #f9f7f6;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 1.5rem;
    margin-left: 2rem; }
  .footer__history {
    margin-top: 3rem;
    align-self: center;
    text-align: right; }
  .footer__copyright {
    margin-top: 3rem;
    align-self: center;
    text-align: right; }
    .footer__copyright--date {
      margin-top: 3rem;
      text-align: center; }
  .footer__info {
    padding-top: 2rem; }
    @media only screen and (max-width: 37.5rem) {
      .footer__info {
        padding-top: 1rem; } }
    .footer__info--tel-link, .footer__info--tel-link:link, .footer__info--tel-link:visited {
      text-decoration: none;
      color: #f9f7f6; }
    .footer__info--address {
      padding-bottom: 3rem; }
    .footer__info--socialmedia {
      text-align: center;
      padding-bottom: 3rem; }

.login {
  grid-column: 1/-1;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  column-gap: 3rem; }
  @media only screen and (max-width: 37.5rem) {
    .login {
      grid-template-rows: min-content min-content; } }
  .login__header {
    margin-right: 3rem;
    font-size: 2rem;
    grid-column: 1 / span 1; }
  .login__img {
    margin-right: 3rem;
    margin-top: 2rem;
    grid-column: 1 / span 1;
    width: 40rem;
    height: 43rem; }
    @media only screen and (max-width: 37.5rem) {
      .login__img {
        display: none; } }
  .login__form {
    padding-bottom: 3rem;
    grid-column: 2 / span 1;
    align-self: center; }
    @media only screen and (max-width: 37.5rem) {
      .login__form {
        grid-column: 1 / span 1;
        margin-right: 3rem;
        padding-top: 3rem; } }
    .login__form--password {
      display: flex;
      align-items: center; }
    .login__form--input {
      width: 60%;
      font-family: inherit;
      font-size: 1.4rem;
      padding: 0.7rem 2rem;
      margin: 1.5rem 0;
      border: none;
      border-bottom: 0.1rem solid #333;
      outline: none; }
      @media only screen and (max-width: 37.5rem) {
        .login__form--input {
          width: 60%; } }
    .login__form--passwordinput {
      margin-left: -2rem; }
    .login__form--eyebtn {
      background-color: inherit;
      height: 2rem;
      border: none;
      cursor: pointer; }
      .login__form--eyebtn:focus {
        outline: none; }
    .login__form--line {
      margin: 3rem 0 3rem 5rem;
      color: #6d5d4b; }
      @media only screen and (max-width: 37.5rem) {
        .login__form--line {
          display: none; } }
    .login__form--link, .login__form--link:link, .login__form--link:visited {
      color: #fec859;
      font-size: 1.5rem;
      font-weight: 700;
      margin: 3rem 0;
      text-decoration: none; }
    .login__form--icon {
      fill: #6d5d4b;
      width: 2rem;
      height: 2rem; }

.home {
  grid-column: 1/ -1; }
  .home__header {
    border: none;
    height: 50rem;
    background-color: #422671;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(55rem, max-content); }
    @media only screen and (max-width: 37.5rem) {
      .home__header {
        height: 35vh; } }
    @media only screen and (max-width: 37.5rem) {
      .home__header {
        grid-template-rows: minmax(40vh, max-content); } }
    .home__header--image {
      grid-column: 2/12;
      background-image: url("../../../public/img/home.webp");
      background-size: cover;
      background-position: center;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      align-items: flex-end; }
    .home__header--text {
      grid-column: 1/6; }
    .home__header--main {
      margin-right: 2rem; }
    .home__header--subtext {
      margin-right: 2rem;
      grid-column: 1/6;
      font-family: iransansdn, tahoma;
      font-size: 1.5rem;
      color: #6d5d4b; }
    .home__header--btn, .home__header--btn:link, .home__header--btn:visited {
      grid-column: 1/6;
      margin-right: 2rem;
      align-self: flex-start;
      text-decoration: none; }
  .home__feature {
    display: grid;
    background-color: #fffafa;
    padding: 2rem 2rem;
    grid-template-columns: min-content;
    column-gap: 1.4rem;
    font-size: 1.4rem;
    align-items: center; }
    .home__feature--number {
      grid-column: 1/2;
      font-weight: 700;
      padding-right: 1.1rem;
      padding-top: 0.3rem;
      width: 3rem;
      height: 3rem;
      shape-outside: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      background-color: #fec859;
      color: #333; }
    .home__feature--text {
      grid-column: 2/3;
      padding-right: 0.2rem; }
  .home__features {
    padding-top: 3rem;
    background-color: #e3e3e3;
    height: 70rem; }
  .home__customers {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, max-content); }
    .home__customers--text {
      margin-right: 2rem;
      margin-bottom: 1rem; }
    .home__customers--subtext {
      margin-right: 2rem;
      font-family: iransansdn, tahoma;
      font-size: 1.5rem;
      color: #6d5d4b;
      margin-bottom: 2rem; }
    .home__customers--topright {
      grid-row: 1/2;
      grid-column: 2/6;
      align-self: center;
      margin-bottom: 3rem; }
    .home__customers--topleft {
      margin-right: 3rem;
      margin-left: 3rem;
      grid-row: 1/2;
      grid-column: 6/12;
      align-self: center;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
      column-gap: 1rem;
      row-gap: 1rem;
      margin-bottom: 3rem; }
    .home__customers--bottom {
      grid-column: 1/12;
      grid-row: 2/3;
      background-color: #fffafa;
      z-index: 10;
      display: grid;
      grid-template-columns: repeat(11, 1fr);
      align-content: flex-start; }
      .home__customers--bottom-right {
        grid-column: 2/6;
        margin-bottom: 2rem; }
      .home__customers--bottom-text {
        margin-right: 2rem;
        margin-bottom: 1rem; }
      .home__customers--bottom-subtext {
        margin-right: 2rem;
        font-family: iransansdn, tahoma;
        font-size: 1.5rem;
        color: #6d5d4b;
        margin-bottom: 2rem; }
      .home__customers--bottom-btn, .home__customers--bottom-btn:link, .home__customers--bottom-btn:visited {
        margin-right: 2rem;
        text-decoration: none; }
      .home__customers--bottom-image {
        grid-column: 2 / span 3;
        background-color: #6d5d4b;
        margin: 0rem 2rem 3rem 0;
        height: 17rem; }
      .home__customers--bottom-subtextleft {
        grid-column: 6 / 8;
        margin: 0rem 2rem 3rem 0;
        font-family: iransansdn, tahoma;
        font-size: 1.5rem;
        color: #6d5d4b; }
      .home__customers--bottom-imagetopleft {
        grid-column: 6/12;
        grid-row: 1/2;
        margin: 3rem 2rem 3rem 3rem;
        height: 23rem;
        background-color: #6d5d4b; }
      .home__customers--bottom-imagebottomleft {
        grid-column: 8/12;
        grid-row: 2/3;
        margin: 0rem 2rem 3rem 3rem;
        height: 17rem;
        background-color: #6d5d4b; }
  .home__gallery {
    background-color: #422671;
    padding-top: 10rem;
    text-align: center;
    padding-bottom: 3rem; }
    @media only screen and (max-width: 37.5rem) {
      .home__gallery {
        padding-top: 23rem; } }
    .home__gallery--all, .home__gallery--all:link, .home__gallery--all:visited {
      color: #fec859;
      font-size: 1.4rem;
      text-decoration: none; }
    .home__gallery--items {
      margin: 0 5rem;
      padding: 0 5rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      column-gap: 12rem; }
      @media only screen and (max-width: 37.5rem) {
        .home__gallery--items {
          padding: 0 9rem;
          row-gap: 3rem; } }
      .home__gallery--items-item {
        margin: 2rem 0;
        background-color: #f9f7f6;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 3.5rem; }
        .home__gallery--items-item-img {
          grid-column: 1 / span 2;
          grid-row: 1 / 2;
          background-color: #aaa;
          height: 30rem; }
        .home__gallery--items-item-description {
          padding: 5rem 0;
          grid-column: 1 / span 2;
          font-size: 1.4rem;
          align-self: center; }
        .home__gallery--items-item-name {
          grid-column: 1 / span 2;
          grid-row: 1 / 2;
          justify-self: center;
          align-self: end;
          width: 80%;
          font-family: iransansdn, tahoma;
          font-size: 1.6rem;
          font-weight: 400;
          color: #f9f7f6;
          background-color: #333;
          text-align: center;
          padding: 1.25rem;
          transform: translateY(50%);
          z-index: 3; }
        .home__gallery--items-item-btn, .home__gallery--items-item-btn:link, .home__gallery--items-item-btn:visited {
          grid-column: 1 / span 2;
          text-decoration: none;
          background-color: #fec859;
          color: #333;
          font-size: 1.6rem;
          padding: 1.25rem 0; }
    .home__gallery--header {
      margin-bottom: 1rem; }
    .home__gallery--starter {
      color: #fec859;
      margin-right: 0; }
    .home__gallery--text {
      margin-bottom: 1rem;
      color: #f9f7f6; }
  .home__story {
    padding: 2rem 0;
    background-color: #fffafa; }
    .home__story--header {
      margin-bottom: 1rem; }
    .home__story--starter {
      margin-right: 0; }
    .home__story--text {
      text-align: center;
      margin-bottom: 1rem;
      color: #333; }
    .home__story--container {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 5rem;
      margin-bottom: 3rem; }
  .home__videos {
    background-color: #422671;
    display: grid;
    height: 60rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: min-content max-content max-content max-content; }
    .home__videos--container {
      grid-column: 1 / -1;
      margin: 3rem 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }
    .home__videos--video {
      height: 20rem;
      width: 20rem;
      background-color: #aaa;
      grid-row: 1/2; }
    .home__videos--btn, .home__videos--btn:link, .home__videos--btn:visited {
      text-decoration: none;
      grid-row: 2/3; }
    .home__videos--wrapper {
      margin: 3rem;
      display: grid;
      column-gap: 7rem;
      justify-items: center; }
    .home__videos--text {
      grid-column: 1/13;
      text-align: center; }
    .home__videos--starter {
      margin-right: 0;
      color: #fec859; }
    .home__videos--header {
      color: #f9f7f6; }
  .home__register {
    grid-column: 2/13;
    background-color: #fffafa;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 5rem; }
    .home__register--text {
      align-self: center;
      font-size: 1.4rem;
      margin-bottom: 3rem; }
    .home__register--starter {
      padding-top: 1rem; }
    .home__register--header {
      margin-right: 2rem;
      color: #333;
      margin-bottom: 2rem; }
    .home__register--paragraph {
      margin-right: 2rem; }
    .home__register--img {
      height: 30rem;
      width: 70%;
      background-color: #6d5d4b;
      margin: 3rem; }
    .home__register-right {
      grid-column: 1/2;
      align-self: center; }
    .home__register-left {
      grid-column: 2/3;
      align-self: center; }
  .home__login {
    grid-column: 2/13;
    background-color: #422671;
    z-index: 10;
    display: grid;
    grid-template-columns: 2fr 1fr; }
    .home__login--text {
      grid-column: 1/2;
      margin-right: 2rem;
      margin-bottom: 2rem;
      font-size: 1.4rem; }
    .home__login--starter {
      color: #fec859;
      margin-right: 0;
      margin-top: 2rem; }
    .home__login--header {
      margin-bottom: 2rem;
      font-size: 1.5rem;
      color: #f9f7f6; }
    .home__login--btn, .home__login--btn:link, .home__login--btn:visited {
      grid-column: 2/3;
      text-decoration: none;
      justify-self: right;
      align-self: center; }
  .home__support {
    background-color: #e3e3e3;
    display: grid;
    grid-template-columns: repeat(12, 1fr); }
    .home__support--text {
      padding-top: 35rem;
      padding-bottom: 5rem;
      grid-column: 2/ -1;
      margin-right: 2rem; }
      @media only screen and (max-width: 37.5rem) {
        .home__support--text {
          padding-top: 45rem; } }
    .home__support--starter {
      margin-right: 0; }
    .home__support--header {
      color: #333; }

.order {
  grid-column: 1/-1;
  margin-top: 3rem; }
  .order-types {
    margin: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    column-gap: 10rem; }
  .order-type {
    display: grid; }
  .order-image {
    height: 40rem;
    background-position: 50%; }
    @media only screen and (max-width: 37.5rem) {
      .order-image {
        background-position: top; } }
    .order-image--boy {
      background-image: url("../../../public/img/boy.webp");
      background-size: contain;
      background-repeat: no-repeat; }
    .order-image--girl {
      background-image: url("../../../public/img/girl.webp");
      background-size: contain;
      background-repeat: no-repeat; }
    .order-image--fabric {
      background-image: url("../../../public/img/fabric.webp");
      background-size: contain;
      background-repeat: no-repeat; }
  .order-btn, .order-btn:link, .order-btn:visited {
    text-decoration: none;
    margin: -5rem auto 5rem auto; }
    @media only screen and (max-width: 37.5rem) {
      .order-btn, .order-btn:link, .order-btn:visited {
        padding: 1.3rem 3rem;
        margin: -7rem auto 10rem auto; } }

.order-boy-uniform {
  grid-column: 1 / -1; }
  .order-boy-uniform--heading {
    margin: 2rem 3rem; }

.no-warning {
  display: none; }

.order-warning {
  font-size: 1.4rem;
  background-color: #e3e3e3;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center; }
  .order-warning--text {
    grid-column: 1/12;
    text-align: center;
    color: #d80101;
    font-weight: 450; }
  .order-warning--link, .order-warning--link:link, .order-warning--link:visited {
    color: #d80101;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none; }

.icon-container {
  grid-column: 12/-1;
  justify-self: end;
  margin-left: 3rem; }

.order-icon {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin-top: 1rem; }

.order-label {
  font-size: 1.4rem;
  padding: 1rem 0rem 0rem 1.5rem;
  margin-right: 3rem; }

.order__select {
  display: block;
  margin: 2rem 0rem; }
  .order__select--grade {
    width: 8rem;
    font-family: iransansdn, tahoma; }
  .order__select--school {
    margin-right: 1.59rem;
    width: 20rem;
    font-family: iransansdn, tahoma; }

.order__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  column-gap: 12rem;
  justify-content: space-around; }
  .order__items--pants {
    display: flex;
    flex-direction: column; }
  .order__items--shirt {
    display: flex;
    flex-direction: column; }

.order__pants {
  margin: 2rem 3rem 3rem 0;
  font-size: 1.6rem; }

.order__pants--hidden {
  display: none; }

.order__shirt {
  margin: 2rem 3rem 3rem 0;
  font-size: 1.6rem; }

.order__shirt--hidden {
  display: none; }

.order__image--pants {
  align-self: center;
  width: 30rem;
  height: 40rem; }

.order__image--shirt {
  align-self: center;
  width: 30rem;
  height: 40rem; }

.order__pants--seperator {
  margin: 2rem 0rem 3rem 3rem; }

.order__pants--details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  column-gap: 5rem; }
  @media only screen and (max-width: 37.5rem) {
    .order__pants--details {
      grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
      column-gap: 0rem; } }

.order__pants--data {
  grid-column: 1 / span 1; }

.order__pants--label {
  margin-left: 3rem;
  font-size: 1.4rem; }
  .order__pants--label-1 {
    margin-left: 3.412rem;
    font-size: 1.4rem; }
  .order__pants--label-2 {
    margin-left: 3.031rem;
    font-size: 1.4rem; }
  .order__pants--label-3 {
    margin-left: 4.112rem;
    font-size: 1.4rem; }
  .order__pants--label-4 {
    margin-left: 4.89rem;
    font-size: 1.4rem; }

.order__pants--btn,
order__pants--btn:visited,
order__pants--btn:link {
  grid-column: 1 / span 1;
  text-decoration: none; }

.order__pants--image {
  grid-column: 2 / span 1;
  grid-row: 1 / span 4;
  justify-self: center; }
  @media only screen and (max-width: 37.5rem) {
    .order__pants--image {
      grid-row: 1 / span 5; } }

.order__pants--text {
  font-size: 1.4rem;
  line-height: 2;
  grid-column: 3 / span 1;
  grid-row: 1 / span 5;
  margin-left: 3rem; }

.order-count-label {
  font-size: 1.8rem;
  margin: 0 1rem; }

.btn-count {
  text-align: center; }

.order__shirt--label {
  margin-left: 3rem;
  font-size: 1.4rem; }
  .order__shirt--label-1 {
    margin-left: 3.412rem;
    font-size: 1.4rem; }
  .order__shirt--label-2 {
    margin-left: 2.5rem;
    font-size: 1.4rem; }
  .order__shirt--label-3 {
    margin-left: 2.4rem;
    font-size: 1.4rem; }
  .order__shirt--label-4 {
    margin-left: 2.2rem;
    font-size: 1.4rem; }
  .order__shirt--label-5 {
    margin-left: 2.4rem;
    font-size: 1.4rem; }
  .order__shirt--label-6 {
    margin-left: 4.89rem;
    font-size: 1.4rem; }

.btn {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 0.7rem 2rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-family: inherit;
  cursor: pointer;
  width: 10.4rem; }
  .btn-disable {
    background-color: #6d5d4b;
    color: #f9f7f6; }
    .btn-disable-xsmall {
      width: 2.5rem;
      padding: 0.2rem 0rem; }
    .btn-disable-small {
      width: 5rem;
      padding: 0.4rem 1rem; }
    .btn-disable-medium {
      width: 13rem; }
    .btn-disable-large {
      width: 17rem; }
  .btn-primary {
    background-color: #d2287d;
    color: #f9f7f6; }
    .btn-primary-medium {
      width: 13rem;
      background-color: #d2287d;
      color: #f9f7f6; }
    .btn-primary-large {
      width: 17rem;
      background-color: #d2287d;
      color: #f9f7f6; }
  .btn-secondary {
    background-color: #f9f7f6;
    color: #333; }
    .btn-secondary-small {
      background-color: #f9f7f6;
      color: #333;
      width: 5rem;
      padding: 0.4rem 1rem; }
    .btn-secondary-medium {
      width: 13rem;
      background-color: #f9f7f6;
      color: #333; }
    .btn-secondary-large {
      width: 17rem;
      background-color: #f9f7f6;
      color: #333; }
  .btn-tertiary {
    background-color: #fec859;
    color: #333; }
    .btn-tertiary-small {
      background-color: #fec859;
      color: #333;
      width: 2.5rem;
      padding: 0.2rem 0rem; }
    .btn-tertiary-medium {
      width: 13rem;
      background-color: #fec859;
      color: #333; }
    .btn-tertiary-large {
      width: 17rem;
      background-color: #fec859;
      color: #333; }
  .btn-outline {
    border: 0.1rem solid #fec859;
    background-color: inherit;
    color: #333; }
    .btn-outline-small {
      border: 0.1rem solid #fec859;
      background-color: inherit;
      color: #333;
      width: 2.5rem;
      padding: 0.2rem 0rem; }
    .btn-outline-medium {
      width: 13rem;
      border: 0.1rem solid #333;
      background-color: inherit;
      color: #fec859; }
    .btn-outline-large {
      width: 17rem;
      border: 0.1rem solid #333;
      background-color: inherit;
      color: #fec859; }

.error {
  color: #d80101;
  font-size: 1.25rem;
  padding: 0.5rem 0; }

.input__order--details {
  font-size: 1.5rem;
  font-family: iransansdn, tahoma;
  margin: 1.5rem 0rem;
  padding: 0.5rem 1rem;
  width: 7rem; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  padding: 3rem 6rem;
  padding-right: 6rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0.5rem;
  font-size: 1.4rem;
  transform: skewX(-12deg); }
  .story__heading {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1.2rem; }
  .story__shape {
    overflow: hidden;
    width: 10rem;
    height: 10rem;
    float: right;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(2rem) skewX(12deg);
    position: relative; }
  .story__img {
    width: 10rem;
    height: 10rem;
    transform: translateX(-0.9rem) scale(1.2);
    backface-visibility: hidden;
    transition: all 0.5s; }
  .story__text {
    transform: skewX(12deg);
    margin-right: 10rem; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-1.1rem) scale(1);
    filter: blur(3px) brightness(80%); }

.holder {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  height: 100vh;
  width: 100%;
  background-color: transparent; }

.preloader {
  /* size */
  width: 100px;
  height: 100px;
  justify-self: center;
  align-self: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: rotatePreloader 2s infinite ease-in; }

@keyframes rotatePreloader {
  0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg); }
  100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(-360deg); } }

.preloader div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0; }

.preloader div:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0%;
  width: 10%;
  height: 10%;
  z-index: 9999999999;
  background-color: #fff;
  transform: translateX(-50%);
  border-radius: 50%; }

.preloader div:nth-child(1) {
  transform: rotateZ(0deg);
  animation: rotateCircle1 2s infinite linear;
  z-index: 9; }

@keyframes rotateCircle1 {
  0% {
    opacity: 0; }
  0% {
    opacity: 1;
    transform: rotateZ(36deg); }
  7% {
    transform: rotateZ(0deg); }
  57% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1; } }

.preloader div:nth-child(2) {
  transform: rotateZ(36deg);
  animation: rotateCircle2 2s infinite linear;
  z-index: 8; }

@keyframes rotateCircle2 {
  5% {
    opacity: 0; }
  5.0001% {
    opacity: 1;
    transform: rotateZ(0deg); }
  12% {
    transform: rotateZ(-36deg); }
  62% {
    transform: rotateZ(-36deg); }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1; } }

.preloader div:nth-child(3) {
  transform: rotateZ(72deg);
  animation: rotateCircle3 2s infinite linear;
  z-index: 7; }

@keyframes rotateCircle3 {
  10% {
    opacity: 0; }
  10.0002% {
    opacity: 1;
    transform: rotateZ(-36deg); }
  17% {
    transform: rotateZ(-72deg); }
  67% {
    transform: rotateZ(-72deg); }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1; } }

.preloader div:nth-child(4) {
  transform: rotateZ(108deg);
  animation: rotateCircle4 2s infinite linear;
  z-index: 6; }

@keyframes rotateCircle4 {
  15% {
    opacity: 0; }
  15.0003% {
    opacity: 1;
    transform: rotateZ(-72deg); }
  22% {
    transform: rotateZ(-108deg); }
  72% {
    transform: rotateZ(-108deg); }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1; } }

.preloader div:nth-child(5) {
  transform: rotateZ(144deg);
  animation: rotateCircle5 2s infinite linear;
  z-index: 5; }

@keyframes rotateCircle5 {
  20% {
    opacity: 0; }
  20.0004% {
    opacity: 1;
    transform: rotateZ(-108deg); }
  27% {
    transform: rotateZ(-144deg); }
  77% {
    transform: rotateZ(-144deg); }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1; } }

.preloader div:nth-child(6) {
  transform: rotateZ(180deg);
  animation: rotateCircle6 2s infinite linear;
  z-index: 4; }

@keyframes rotateCircle6 {
  25% {
    opacity: 0; }
  25.0005% {
    opacity: 1;
    transform: rotateZ(-144deg); }
  32% {
    transform: rotateZ(-180deg); }
  82% {
    transform: rotateZ(-180deg); }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1; } }

.preloader div:nth-child(7) {
  transform: rotateZ(216deg);
  animation: rotateCircle7 2s infinite linear;
  z-index: 3; }

@keyframes rotateCircle7 {
  30% {
    opacity: 0; }
  30.0006% {
    opacity: 1;
    transform: rotateZ(-180deg); }
  37% {
    transform: rotateZ(-216deg); }
  87% {
    transform: rotateZ(-216deg); }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1; } }

.preloader div:nth-child(8) {
  transform: rotateZ(252deg);
  animation: rotateCircle8 2s infinite linear;
  z-index: 2; }

@keyframes rotateCircle8 {
  35% {
    opacity: 0; }
  35.0007% {
    opacity: 1;
    transform: rotateZ(-216deg); }
  42% {
    transform: rotateZ(-252deg); }
  92% {
    transform: rotateZ(-252deg); }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1; } }

.preloader div:nth-child(9) {
  transform: rotateZ(288deg);
  animation: rotateCircle9 2s infinite linear;
  z-index: 1; }

@keyframes rotateCircle9 {
  40% {
    opacity: 0; }
  40.0008% {
    opacity: 1;
    transform: rotateZ(-252deg); }
  47% {
    transform: rotateZ(-288deg); }
  97% {
    transform: rotateZ(-288deg); }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1; } }

.preloader div:nth-child(10) {
  transform: rotateZ(324deg);
  animation: rotateCircle10 2s infinite linear;
  z-index: 0; }

@keyframes rotateCircle10 {
  45% {
    opacity: 0; }
  45.0009% {
    opacity: 1;
    transform: rotateZ(-288deg); }
  52% {
    transform: rotateZ(-324deg); }
  102% {
    transform: rotateZ(-324deg); }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1; } }

.popup {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2500;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup__content {
    position: absolute;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: transparent;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s; }
  .popup__left {
    width: 33.333333%;
    display: table-cell; }
  .popup__right {
    padding: 3rem 5rem;
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #aaa;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #aaa;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup:target, .popup:any-link {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #f9f7f6;
    text-decoration: none;
    font-size: 3rem;
    top: 2.5rem;
    right: 2.5rem;
    position: absolute;
    display: inline-block;
    transition: all 0.2s;
    line-height: 1; }
  .popup__close:hover {
    color: #422671; }

.scroll-to-top {
  border-radius: 50px;
  margin: 1rem;
  padding: 1rem;
  background-color: #fec859;
  z-index: 100;
  position: fixed;
  bottom: 1rem;
  margin-right: 3.5rem;
  display: flex;
  align-items: center;
  cursor: pointer; }
  .scroll-to-top__icon {
    width: 3rem;
    height: 3rem;
    fill: #000; }
